.container.form-layout {
    border-radius: 10px;
    width: 500px;
}

h2 {
    color: black;
}

.card {
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
}

.btn-inline-space {
    padding-right: 30px;
}